@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  height: 100vh;
  width: 100vw;
}
#main{
  width: 100%;
  height: 100%;
background-image: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.637)), url('/images/owner-background.jpg');
background-size: cover;             
}

#top{
  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.349);
gap: 60vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Quicksand;
}
#right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5vw;
}
#memImg{
width: 55px;
  height: 55px;
  border-radius: 60px;
  overflow: hidden;
}
#memImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

}
#right p{
  font-size: 1.5vw;
  color: white;
}
#logo{
  width: 40px;
  height: 40px;
}
#logo img{
  width: 100%;
  height: 100%;
}
#company{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}
#n{
font-size: 1.5vw;
letter-spacing: 5px;
color: white;
}
#logout{
width: 6vw;
height: 3vw;
font-size: 1.1vw;
background-color: rgb(90, 90, 230);
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
transition: all ease-in-out 0.2s;
}
#logout:hover{
  background-color: rgba(80, 100, 156, 0.74);
}
#topbottom{
    width: 100%;
    height: 10%;
    background-color: rgb(0, 0, 0);
}
#mainPanel{  
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 2vw;
}
#paneltop{
    width: 100%;
    height: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 13vw;
}
#panelbottom{
       width: 100%;
    height: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 13vw;
    
}




#balance{
  width: 30vw;
  height: 16vw;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;

flex-direction: column;
overflow: hidden;
font-family:  Raleway;
}
#e-heading{
 display: flex;
 height: 14vh;
 justify-content: center;
align-items: center;
width: 70%;
font-size: 3vw;
font-weight: 900;

}
#e-number{
 display: flex;
 height: 20vh;
 justify-content: center;
width: 88%;
font-size: 8vw;
font-weight: 800;
}
#payrent{
  width: 50vw;
  height: 16vw;
  background-color: rgb(96, 250, 109);
  border-radius: 20px;
  display: flex;

flex-direction: column;
overflow: hidden;
font-family:  Raleway;
gap: 4vh;
}
#p-heading{
 display: flex;
 height: 14vh;
 justify-content: center;
align-items: center;
width: 35%;
font-size: 3vw;
font-weight: 900;

}
#p-number{
    background-color: rgb(45, 45, 224);
    width: 80px;
    height: 40px;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    position: relative;
    left: 50px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}
#p-number:hover{
    background-color: rgba(108, 108, 252, 0.705);
}


#announce{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#announce button{
  width: 5vw;
height: 2vw;
font-size: 1.1vw;
background-color: rgb(90, 90, 230);
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
transition: all ease-in-out 0.2s;
position: relative;
left: 24vw;
}
#complain{
  width: 30vw;
  height: 13vw;
  background-color: white;
  border-radius: 20px;
  border: none;
  color: black;
  padding: 15px;
  font-size: 1.5vw;
  resize: none;
  overflow-y: auto;
}

#electricitybill{
      width: 40vw;
  height: 16vw;
  background-color: rgb(227, 241, 100);
  border-radius: 20px;
  display: flex;

flex-direction: column;
overflow: hidden;
font-family:  Raleway;
gap: 4vh;
}
#ownerMsg{
  font-family: raleway;
  align-content: center;
  text-align: center;
  padding: 10px;
  font-size: 1.4vw;
  font-weight: 400;
  color: white;
}
#b-heading{
   display: flex;
 height: 14vh;
 justify-content: center;
align-items: center;
width: 35%;
font-size: 3vw;
font-weight: 900;

}
#b-number{
      background-color: rgb(45, 45, 224);
    width: 80px;
    height: 40px;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    position: relative;
    left: 50px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}
#rentForm{
  width: 100%;
  height: 100%;
}

#rentamount{
width: 12vw;
height: 5vh;
}
#reciver{
width: 12vw;
height: 5vh;
}


#minus{
  background-color: red;
}
#plus{
  background-color: rgb(54, 54, 228);
}



#rentForm{
  width: 100%;
  height: 100%;
  background-color: rgb(37, 37, 46);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
#rentForm button{
  width: 5vw;
height: 2vw;
font-size: 1.1vw;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
transition: all ease-in-out 0.2s;
position: relative;
left: 6vw;
}
#rentForm label{
  color: white;
}
#rentForm div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3vw;
}
#payed{
  font-size: 1.5vw;
  font-weight: 800;
 
  color: black;
  width: 20vw;
  height: 8vh;
  text-align: center;
  align-content: center;
}


@media (min-width: 300px) and (max-width: 500px){

html,body{
  height:99vh;
  width: 100vw;
}


#top{
  width: 100%;
  height: 8%;
gap: 4vw;
}
#logo{
  width: 12vw;
  height: 6vh;
}
#n{
  font-size: 3vw;
  letter-spacing: 3px;
}
#memName{
  font-size: 3vw;
 
}
#company{
  gap: 13px;
}

#right{
  gap: 4vw;
}
#right p{
  font-size: 4.5vw;
}
#memImg{
width: 11vw;
height: 5.2vh;
border-radius: 200px;
}
#logout{
  width: 15vw;
  height: 3.8vh;
  font-size: 3.5vw;
}
#show-name{
  font-size: 3.5vw;
  width: auto;
  padding: 10px;
  height: 4vh;
}
#topbottom{
  height: 5%;
}
#ownerMsg{
  padding: 10px;
  font-size: 4vw;
  height: auto;
}
#paneltop{
  
  gap: 10px;
}
#balance{
  width: 45vw;
  height: 28vh;
}
#payrent{
  width: 48vw;
  height: 32vh;

}
#e-heading{
font-size: 6vw;
width: 100%;
}
#e-number{
font-size: 10vw;
}
#p-heading{
font-size: 6vw;
width: 100%;
}
#p-number{
font-size: 8vw;
color: white;
width: 28vw;
height: 7vh;
}
#announce{
  gap: 6px;
  height: 36vh;
  width: 45vw;
}
#announce button{
  width: 40vw;
height: 4vh;
font-size: 4.5vw;
left: 3.2vw;
}
#complain{
  width: 100%;
  height: 100%;
  font-size: 4vw;
}
#submitComplain button{

  width: 40vw;
height: 4vh;
font-size: 4.5vw;
left: 3.2vw;

}


#electricitybill{
    width: 45vw;
  height: 28vh;
}

#b-heading{
font-size: 6vw;
width: 100%;
}
#b-number{
font-size: 8vw;
color: white;
width: 28vw;
height: 7vh;
}
#panelbottom{
  gap: 10px;
}
#payed{
  width: 40vw;
  font-size: 5vw;
  position: relative;
  top: -80;
  left: 25;
}
#addbuttons{
  width: 44vw;
  padding: 0;
  display: flex;
  
}
#addbuttons button{
  width: 20vw;
  height: 4vh;
  left: 0;
  font-size: 4vw;
}
#rentInfo{
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: vh;
}
#rentInfo div{
  gap: 4vw;
}

}