@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  height: 100vh;
  width: 100vw;
}
#main{
  width: 100%;
  height: 100%;
  background-image: url('/images/building2.jpg');
 background-size: cover;               
   
}
#login{
width: 40vw;
height: 70vh;
  backdrop-filter: blur(10px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px);
   background: rgba(255, 255, 255, 0.1);
   box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10vh;
}
#loginBox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46%;
height: 90vh;
font-family: Quicksand;
}
#owner{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 20vw;
  height: 7vh;
  background-color: rgba(0, 0, 0, 0.541);
  color: white;
  font-size: 1.3vw;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
#owner:hover{
  background-color: rgba(245, 222, 179, 0.308);
}
#member{
    display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 20vw;
  height: 7vh;
  background-color: rgba(0, 0, 0, 0.541);
  color: white;
    font-size: 1.3vw;
    cursor: pointer;
      transition: all ease-in-out 0.3s;
}
#member:hover{
    background-color: rgba(245, 222, 179, 0.308);
}
#logo{
  width: 50px;
  height: 50px;
}
#logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#company{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

}
#n{
font-size: 1.6vw;
letter-spacing: 5px;
}
#username,#password{
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  color: white;
  font-size: 14px;
}
#login input::placeholder {
  color: #f0f0f0;
}
#login button {
  width: 100%;
  padding: 12px;
  background-color: white;
  color: #333;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}
#invalid{
  width: 20vw;
  height: 4vh;
  background-color: red;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(85px,40px);
  transition: all ease-in-out 1s;
  opacity: 0;
}
#login button:hover {
  background-color: #ddd;
}
#back{
  position: absolute;
  transform: translate(-230px,-190px);
  cursor: pointer;
}
#title{
  font-size: 2vw;
}

@media (min-width: 300px) and (max-width: 500px) {

#loginBox{
  width: 100vw;
}
#login{
width: 80vw;
height: 70vh;
   gap: 10vh;
  
}
#company{
  gap: 30px;
}
#n{
font-size: 7vw;
letter-spacing: 5px;
}

#member{
 
  border-radius: 20px;
  width: 50vw;
  height: 7vh;
  font-size: 4vw;

}
#owner{
  border-radius: 20px;
  width: 50vw;
  height: 7vh;
  font-size: 4vw;
}
#main{

  background-image: url('/images/building2.jpg');
 background-size: cover;   
 background-size: 100vw 310vw;  /* width height */    
background-repeat: no-repeat;
   
}
#title{
  font-size: 7vw;
}
#username,#password{
  width: 70vw;
  padding: 6px;
  font-size: 4vw;
}
#ownerloging{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#back{
  position: absolute;
  transform: translate(-120px,-230px);
  cursor: pointer;
}

#memberloging{
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#invalid{
  width: 70vw;
  height: 4vh;
  transform: translate(0px,130px);

}


}